@model Fitness.Models.Recipe

@{
    ViewBag.Title = "Create";
}

<h2>Create New Recipe</h2>


<form action="/Recipe/Create" method="POST" role="form">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="recipeTitleInputField">Title</label>
        <input type="email" class="form-control" id="recipeTitleInputField" placeholder="Enter Recipe Title">
    </div>
    <div class="form-group">
        <label for="ingredientsTextArea">Ingredients</label>
        <textarea class="form-control" id="ingredientsTextArea" placeholder="Recipe Ingredients"></textarea>
    </div>
    <div class="form-group">
        <label for="directionsTextArea">Directions</label>
        <textarea class="form-control" id="directionsTextArea" placeholder="Recipe Directions"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Save Recipe</button>

</form>